.BuildSaucesControl {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0.5rem 0;
}

.BuildSaucesControl button {
  margin: 0 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
  width: 6rem;
  outline: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  border: 0.1rem solid rgb(22, 10, 4);
  border-radius: 10%;
}

.BuildSaucesControl button:disabled {
  background-color: #ac9980;
  border: 0.1rem solid rgb(22, 10, 4);
  color: #ccc;
  cursor: default;
}

.BuildSaucesControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.BuildSaucesControl .Cancel {
  background-color: #8f5e1e;
  color: white;
}

.BuildSaucesControl .Pick {
  background-color: #8f5e1e;
  color: white;
}

.BuildSaucesControl .Cancel:hover,
.BuildSaucesControl .Cancel:active {
  background-color: #99703f;
  color: white;
}

.BuildSaucesControl .Pick:hover,
.BuildSaucesControl .Pick:active {
  background-color: #99703f;
  color: white;
}

.Label {
  text-align: center;
  text-transform: uppercase;
  margin-right: 0.3rem;
  margin-left: 1rem;
  color: #aa6817;
}
