.title {
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  color: white;
  width: 100%;
  text-transform: uppercase;
}

.list {
  font-size: 3rem;
  display: inline-block;
  color: #aa6817;
}

.ContinuePurchasing {
  color: white;
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.next {
  background-color: transparent;
  background-color: rgb(172, 83, 0);
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 0.7rem;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 1.5rem;
  color: white;
}

.previous {
  background-color: transparent;
  background-color: rgb(14, 0, 0);
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 0.7rem;
  margin-left: 4rem;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 1.5rem;
}

.ListContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Price {
  width: 100%;
  display: inline-block;
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 3rem;
}

.BtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

@media (max-width: 780px) {
  .list {
    font-size: 2rem;
  }
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  .list {
    font-size: 1.4rem;
  }
  .title {
    font-size: 1.5rem;
  }
  .ContinuePurchasing {
    font-size: 1.2rem;
  }
}
