.title {
  font-size: 4rem;
  text-align: center;
  display: inline-block;
  color: black;
  width: 100%;
}

.span {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 400;
}

.p {
  font-size: 2.3rem;
}

.list {
  font-size: 2rem;
  display: inline-block;
  color: #aa6817;
  padding-left: 7rem;
}

.ContinuePurchasing {
  color: rgb(14, 7, 0);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.next {
  position: absolute;
  top: 38rem;
  left: 12rem;
  background-color: transparent;
  background-color: rgb(172, 83, 0);
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 2rem;
  color: white;
}

.previous {
  position: absolute;
  top: 38rem;
  left: 27rem;
  background-color: transparent;
  background-color: rgb(14, 0, 0);
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  border-radius: 2rem;
}

.Price {
  width: 100%;
  display: inline-block;
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 9rem;
}
