.ContactData {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  box-shadow: 0 0.2rem 0.3rem #ccc;
  border: 0.1rem solid #eee;
  padding: 2rem;
  box-sizing: border-box;
}

.BtnContainer {
  position: relative;
  top: 90%;
  left: 0%;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.ContactBtn {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  left: 14rem;
}

.ContactInformation {
  font-size: 2rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: white;
}
