.Content {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  background-color: rgba(22, 10, 4, 0.8);
  box-shadow: 0 0.3rem 0 rgba(7, 3, 1, 0.8);
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}
