.breadTopWheat {
  height: 20%;
  width: 100%;
  background: linear-gradient(#bd7303, #9e4700);
  border-radius: 50% 50% 0 0;
  margin: 2% auto;
  position: relative;
  box-shadow: inset -0.2px -1px #c9c9c9;
  top: 2rem;
  left: 0;
}

.breadBottomWheat {
  height: 100%;
  width: 100%;
  background: linear-gradient(#bd7303, #9e4700);
  margin: 2% auto;
  border-radius: 0 0 70% 70%;
  box-shadow: inset -0.2px -1px #c9c9c9;
  position: absolute;
  left: 0;
  top: 8rem;
}

.breadTopWholeGrains {
  height: 13%;
  width: 80%;
  background: linear-gradient(#441800, #7c2d03);
  border-radius: 20% 20% 0 0;
  margin: 2% auto;
  position: relative;
}

.breadBottomWholeGrains {
  height: 100%;
  width: 100%;
  background: linear-gradient(#441800, #7c2d03);
  margin: 2% auto;
  border-radius: 0 0 15% 15%;
  position: relative;
  top: 5rem;
  left: 0;
}

.seeds {
  position: absolute;
  width: 10%;
  height: 15%;
  background-color: white;
  left: 30%;
  top: 60%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #c9c9c9;
}

.seeds:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: -170%;
  top: -290%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #c9c9c9;
}

.seeds:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  left: 180%;
  top: 100%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #c9c9c9;
}

.seeds2 {
  position: absolute;
  width: 10%;
  height: 15%;
  background-color: white;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px -0 #c9c9c9;
}

.seeds2:after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  content: "";
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #c9c9c9;
}

.breadTopNoGluten {
  height: 15%;
  width: 90%;
  background: linear-gradient(#b39e9e, #c2ab6e);
  border-radius: 10% 10% 0 0;
  margin: 2% auto;
  position: relative;
  box-shadow: inset -0.2px -1px #c9c9c9;
}

.breadBottomNoGluten {
  height: 100%;
  width: 100%;
  background: linear-gradient(#c2ab6e, #b39e9e);
  margin: 2% auto;
  border-radius: 0 0 10% 10%;
  box-shadow: inset -0.2px -1px #c9c9c9;
  position: absolute;
  top: 6rem;
  left: 0;
}

.seam {
  position: absolute;
  left: 32%;
  bottom: 55%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(180deg);
}

.seam3 {
  position: absolute;
  left: 1.7rem;
  top: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(180deg);
}

.seam2 {
  position: absolute;
  left: 64%;
  bottom: 55%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(180deg);
}
