.breadTopWheat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13%;
  width: 100%;
  background: linear-gradient(#bd7303, #9e4700);
  border-radius: 50% 50% 0 0;
  margin: 10% auto;
  box-shadow: inset -0.2px -1px #c9c9c9;
}

.breadBottomWheat {
  position: absolute;
  height: 15%;
  top: 90%;
  width: 100%;
  background: linear-gradient(#bd7303, #9e4700);
  margin: 10% auto;
  border-radius: 0 0 70% 70%;
  box-shadow: inset -0.2px -1px #c9c9c9;
}

.breadTopWholeGrains {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 13%;
  width: 80%;
  background: linear-gradient(#441800, #7c2d03);
  border-radius: 20% 20% 0 0;
  margin: 10% auto;
}

.breadBottomWholeGrains {
  position: absolute;
  height: 15%;
  top: 90%;
  width: 80%;
  background: linear-gradient(#441800, #7c2d03);
  margin: 10% auto;
  border-radius: 0 0 15% 15%;
}

.breadTopNoGluten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15%;
  width: 90%;
  background: linear-gradient(#b39e9e, #c2ab6e);
  border-radius: 10% 10% 0 0;
  margin: 10% auto;
  box-shadow: inset -0.2px -1px #c9c9c9;
}

.breadBottomNoGluten {
  position: absolute;
  top: 90%;
  height: 15%;
  width: 90%;
  background: linear-gradient(#c2ab6e, #b39e9e);
  margin: 12% auto;
  border-radius: 0 0 10% 10%;
  box-shadow: inset -0.2px -1px #c9c9c9;
}

.seam {
  position: absolute;
  left: 32%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(180deg);
}

.seam3 {
  position: absolute;
  left: 1.7rem;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(180deg);
}

.seam2 {
  position: absolute;
  left: 64%;
  height: 0;
  width: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #fff;
  transform: rotate(180deg);
}
