.Auth {
  position: absolute;
  top: 10rem;
  left: 20rem;
  margin: 10rem auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 0.2rem 0.3rem #ccc;
  border: 0.1rem solid #eee;
  padding: 1rem;
  box-sizing: border-box;
}

@media (min-width: 60rem) {
  .Auth {
    width: 50rem;
  }
}

.BtnAuth {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.4rem;
  position: absolute;
  top: 13rem;
  left: 17rem;
}
