.Auth {
  width: 50%;
  text-align: center;
  box-shadow: 0 0.2rem 0.3rem #ccc;
  border: 0.1rem solid #eee;
  padding: 3rem;
  box-sizing: border-box;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 60rem) {
  .Auth {
    width: 50rem;
  }
}

.btnAuth {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 2rem;
}

.textAuth {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: transparent;
  color: rgb(255, 143, 15);
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.titleAuth {
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
