.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 0.1rem;
  font-weight: bold;
  font-size: 2rem;
  margin-top: auto;
}

.Success {
  color: #0e0101cc;
}

.Danger {
  color: #ca2525;
}
