.OrderToConfirm {
  width: 50%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 4rem;
  position: relative;
  top: 10rem;
  left: 0;
}

.btnConfirm {
}
