.BuildControl {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 7rem;
}

.BuildControl button {
  padding: 0.4rem;
  cursor: pointer;
  width: 10rem;
  outline: none;
  font-size: 1.3rem;
  text-transform: uppercase;
  border: 0.1rem solid rgb(22, 10, 4);
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  margin-bottom: 0.5rem;
}

.BuildControl button:disabled {
  background-color: #ac9980;
  border: 0.1rem solid rgb(22, 10, 4);
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: #ac9980;
  color: #ccc;
  cursor: not-allowed;
}

.BuildControl .Cancel {
  background-color: #8f5e1e;
  color: white;
}

.BuildControl .Pick {
  background-color: #8f5e1e;
  color: white;
}

.BuildControl .Cancel:hover,
.BuildControl .Cancel:active {
  background-color: #99703f;
  color: white;
}

.BuildControl .Pick:hover,
.BuildControl .Pick:active {
  background-color: #99703f;
  color: white;
}

.Label {
  text-align: center;
  text-transform: uppercase;
  margin-right: 0.3rem;
  margin-left: 1rem;
  color: #aa6817;
}

@media (max-width: 730px) {
  .BuildControl {
    padding: 1rem;
  }
}

@media (max-width: 540px) {
  .BuildControl button {
    width: 6rem;
    font-size: 1.1rem;
  }
  .Label {
    font-size: 1.2rem;
  }
}

@media (max-width: 380px) {
  .BuildControl button {
    width: 5rem;
    font-size: 0.8rem;
  }
  .Label {
    font-size: 0.8rem;
  }
}
