.view {
}

.text {
  color: rgb(194, 133, 2);
  top: 20%;
  left: 40%;
  position: absolute;
  font-size: 4.5rem;
}

.btnView {
  background-color: transparent;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 30%;
}

.btnOrders {
  background-color: transparent;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
}
