.Sandwich {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 30rem;
  height: 28rem;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Sandwich::-webkit-scrollbar {
  display: none;
}

.Information {
  text-transform: uppercase;
  color: rgb(209, 200, 196);
  font-size: 2rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .Sandwich {
    height: 15rem;
    width: 15rem;
  }
  .Information {
    font-size: 1.2rem;
  }
}

@media (max-width: 350px) {
  .Sandwich {
    height: 15rem;
  }
  .Information {
    font-size: 1.2rem;
  }
}
